<div class="foot">
    <div class="page">
        <ul class="inlineList piped footList">

            <li><a href="https://github.com/CSSLint/csslint/wiki/About">About</a></li>
            <li><a href="https://github.com/CSSLint/csslint/wiki/Developer-Guide">Contribute</a></li>
            <li><a href="https://github.com/CSSLint/csslint">Source</a></li>
            <li><a href="https://github.com/CSSLint/csslint/wiki/Command-line-interface">Node/Rhino CLI</a></li>
            <li><a href="https://github.com/CSSLint/csslint/wiki">Documentation</a></li>
            <li><a href="http://groups.google.com/group/css-lint">Mailing List</a></li>
        </ul>
        <hr>
        <ul class="inlineList piped footList">
            <li><a href="http://www.nczonline.net/">Nicholas</a></li>
            <li><a href="http://www.stubbornella.org/">Nicole</a></li>
        </ul>
    </div>
</div>

<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25221469-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>