<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="css/style.css" >
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="js/jquery.json-2.3.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script src="js/jquery.ba-hashchange.js"></script>
<link rel="stylesheet" href="js/sunlight-1.14.419/themes/sunlight.default.css">
<script src="js/sunlight-1.14.419/sunlight-min.js"></script>
<script src="js/sunlight-1.14.419/lang/sunlight.css-min.js"></script>
<script src="js/csslint.js"></script>
<script src="js/csslint-ui.js"></script>
